@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



.adv-container form input[type=text],
.adv-container form input[type = number],
.adv-container form input[type = file],
.adv-container form select{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.adv-container form label {
    text-transform: capitalize;
    padding: 12px 12px 12px 0;
    display: inline-block;
}
.adv-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 60px;
}
.adv-container form .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
.adv-container form .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
.adv-container form .adv-row:before,
.adv-container form .adv-row:after
{
    content: "";
    display: table;
    clear: both;
}
.mapboxgl-ctrl-geocoder{
    min-width: 100%;
}
.adv-container form input.mapboxgl-ctrl-geocoder--input {
    padding-left: 35px;
}
.adv-container form input[type="submit"] {
    width: 100px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .adv-container form .col-25, .adv-container form .col-75, .adv-container form input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}





