.reg-contents {
    margin-top: 58px;
    height: 100vh;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.reg-contents form{
    /* padding: 200px; */
    width: 50%;
}
.reg-contents form input[type = text],
.reg-contents form input[type = tel],
.reg-contents form input[type = email],
.reg-contents form input[type = password]{
    display: inline-block;
    width: 90%;
    padding: 10px 15px;
    /* border: 2px solid black; */

}
.row::after{
    content: " ";
    clear: both;
    display: table;
}
.reg-contents form .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    /* padding: 10px 0; */
    
}
.reg-contents form .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    /* padding: 10px 0; */
}
.reg-contents form input[type="submit"] {
    width: 100px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}