


.form-section{ 
    margin-top: 60px;
    /* padding: 16px 0; */
    height: 100vh;
    overflow-y: scroll;
    background-color: #ebebeb;
    
}
.form-section::-webkit-scrollbar{
    display: none;
}
.form-section-holder form .col{
    margin: 16px;
}
.form-section-holder form label,
.form-section-holder form input,
.form-section-holder form select{
    font-size: 16px;
    display: block;
    width: 100%;
   
    
}

.form-section-holder form label{
    text-transform: capitalize;
}

.form-section-holder form input{
  
    border-radius: 4px;
    padding-left:8px;
}
.form-section-holder .map-content{
    height: 200px;
    position: relative;
}
.form-section ._2iA8p44d0WZ-WqRBGcAuEV {
    border: none;
    border-radius: none;
    padding: 0px;
    background: #fff;
    margin-top: 0;


    
}
.form-section .mapboxgl-ctrl-geocoder{
    box-shadow: none;
    min-width: 100%;
}
.form-section input[type = "submit"]{
    display: block;
    width: 100px;
    margin: 0 auto;
    padding: 10px 16px;
    background-color: #fff;
    

}
.form-section .mapboxgl-ctrl-geocoder--icon {
    top: 3px;
}

.form-section .mapContainer{
    /* display: none; */
}
@media(min-width: 640px){
    .form-section .mapboxgl-ctrl-geocoder--input{
        height: 25px;
        padding: 6px 35px;
    }

}


.map{
    position:relative;
    height:100%;
}

.mapContainer{
    position: absolute;
    overflow:hidden;
    top:0;
    bottom:0;
    width:100%;
    height:200px;
}

.btn-delete{
    padding:5px 10px 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
