.post-detail-container{
    margin-top:60px;
    background-color: #ebebeb;

    /* padding:0; */
    /* width:100%; */
}

.image-container{
    
    padding: 36px  0;
}
.basic-info{
    font-size: 18px;
    padding: 0 16px;
    
}
.basic-info a{
    text-decoration: underline;
    color: #000;
    transition: all 0.45s ease-in-out;
}
.basic-info a:hover,
.basic-info a:active{
    color: blue;
}
.post-description{
    margin: 16px 0;
}
.post-description p{
    margin: 0 16px;
    font-size: inherit ;
}
#facilities{
    /* display:flex; */
    text-transform: capitalize;
    
}
#facilities li{
    padding: 0 16px;
}
.post-room-facilities ul li{
    /* list-style-type: disc; */
    padding: 0 16px;
}

/* warning chaning this will result in css breaking of map */
.post-room-location{
    position:relative;
    height:500px;
    width:100%;
    margin:0;
    padding:0;
}

/* this is new */ 
.btn-cmnt-add{
  padding:5px;
  border-radius: 8px;
  border-style:solid;
}

.btn-enabled{
  color:black;
  background-color: grey;
}

.btn-disabled{
  color:red;
  background-color: blue;
}

.btn-cmnt-add:focus{
  outline-style: none;
}

#comment{
  border-radius:15px;
  padding:10px;
  resize:none;
}

#comment:focus{
  outline-style: none;
}

.comment{
  margin-top:20px;
  width:500px;
  border:0.5px solid black;
}

.comment-flex-container{
  display:flex;
  flex-direction:row;
}
