li, a{
    list-style-type:none;
    text-decoration:none;
}

ul{
    white-space:nowrap;
}

.pagination li {
    display:inline;
}

.page-item{
    padding:2px 4px 2px 4px;
    border:1px solid black;
}

