.login-contents {
    margin-top: 60px;
    height: 100vh;
    background-color: #ebebeb;
    /* position: relative; */
    /* display: table */
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-contents form{
    /* text-align: center; */
    padding: 16px;
    width: 50%;
}
.login-contents form input[type = email],
.login-contents form input[type = password]{
    display: inline-block;
    width: 90%;

}
.login-contents form .row::after{
    content: " ";
    clear: both;
    display: table;
}
.login-contents form .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
.login-contents form .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
.login-contents input[type = "email"],
.login-contents input[type = "password"]{
    display: inline-block;
    width: 90%;
    padding: 10px 15px;

}
.login-contents form input[type="submit"] {
    width: 100px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.log-flex-container{
  display:flex;
}
